hr {
	margin-top: .5rem;
    margin-bottom: .5rem;
}
dd {
	margin-bottom: 0;
}
.hasmenu main {
	padding-left: 60px;
}
.list-group-item .content .pot{
	padding-left: 3rem;
}
.list-group-item .content .pot h3{
	margin-top: .25rem;
    margin-bottom: .25rem;
}
.list-group-item .content .pot:before {
	content: 'L';
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	background: #eaeaea;
	position: absolute;
	    left: 1rem;
	top: .7rem;
	font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a7a7a7;
}
.list-group-item .content .pot.pot-1:before {
	content: 'N';
	color: #047afb;
	background: #c7e6ff;
}
.list-group-item .content .pot.pot-3:before {
	content: 'H';
	color: #dd3c45;
	background: #ffd3c6;
}
.list-group-item .content .pot.pot-2:before {
	content: 'M';
	color: #55a746;
	background: #e0ffbd;
}
.list-group-item.status-0 a,
.list-group-item.status-0 .btn-link,
.list-group-item.status-0 h3 {
	color: #444444
}
.list-group-item.status-1 a,
.list-group-item.status-1 .btn-link,
.list-group-item.status-1 h3 {
	color: #047afb
}
.list-group-item.status-3 a,
.list-group-item.status-3 .btn-link,
.list-group-item.status-3 h3 {
	color: #dd3c45
}
.list-group-item.status-2 a,
.list-group-item.status-2 .btn-link,
.list-group-item.status-2 h3 {
	color: #55a746
}

/* Context Menu */
.context-menu-list .labels > span > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        float: none;
    }
.context-menu-list .labels > span > ul > li {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #CCC;
        overflow: hidden;
        text-indent: -2000px;
    }
.context-menu-list .labels > span > ul > li.selected,
.context-menu-list .labels > span > ul > li:hover { border: 1px solid #fff; }
.context-menu-list .labels > span > ul > li + li { margin-left: 5px; }
.context-menu-list .labels > span > ul > li.label1 { background: #a7a7a7; }
.context-menu-list .labels > span > ul > li.label2 { background: #047afb; }
.context-menu-list .labels > span > ul > li.label3 { background: #55a746; }
.context-menu-list .labels > span > ul > li.label4 { background: #dd3c45; }

.btn-tg {
	position: absolute;
	top: 1.2rem;
	right: 2rem;
	    background: #f9f9f9;
    border: 1px solid #eaeaea;
    padding: 0;
    width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	transform: rotate(180deg)
}
.btn-tg.collapsed {
    transform: rotate(0deg);
}

.hasfile .btn-tg{
	top: 2rem;
	right: 2rem
}

.list-group-item-action .pdf {
	display: none;
}

.list-group-item-action.hasfile .pdf {
	display: block;
}

[ripple]{
	z-index: 1;
	position: relative;
	overflow: hidden;
}

[ripple] .ripple {
	position: absolute;
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	animation: ripple 1.6s;
}

@keyframes ripple {
	0% {

		transform: scale(1);
		opacity: 0.2;
	}
	100% {
		transform: scale(40);
		opacity: 0;
	}
}


.btn-circle {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	color: white;
}
.btn-circle:hover {
	background: rgba(255,255,255,.3);
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
main {
	position: relative;
}

.toolbarleft{
	border-right: 1px solid #f9f9f9;
	width: 60px;
	position: absolute;
	left: 0;
	top: 57px;
	z-index: 10;
	height: calc(100% - 57px);
}
.toolbarleft ul {
	display: flex;
	flex-direction: column;
}
.toolbarleft .nav-item.cr .nav-link {
	background: #f2f2f2;
	border-radius: 50%;
	padding: .25rem;
	width: 2.2rem;
	height: 2.2rem;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 1rem;
	color: #848484;
}
header{
	z-index: 100;
	background: #fff
}

header.topbar .nav-item .nav-link {
	color: #4d4d4d;
}
header.topbar .nav-item.cr .nav-link {
	background: #f2f2f2;
	border-radius: 50%;
	padding: .25rem;
	width: 2.2rem;
	height: 2.2rem;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-left: .5rem;
	color: #848484;
}
header.topbar .nav-item.active .nav-link,
header.topbar .nav-item:hover .nav-link {
	color: #224ca1
}
header.topbar .nav-item .nav-link img {
	max-width: 2rem;
	border-radius: 50%
}

.topbar {
	border-bottom: 1px solid #dfdfdf;
	padding: .25rem 0
}

.topbar .logo img{
	max-height: 45px;
}

.box {
	box-shadow: 0 0 3px #dfdfdf;
}

#pdfModal .modal-body {
	padding: 0
}

#pdfModal .modal-header .close {
	color: #fff
}

#pdfModal .modal-header,
#pdfModal .modal-footer {
	background: #191818;
	border-color: #191818;
	color: #fff;
	border-radius: 0
}

.modal-dialog {
	width: 100%;
	max-width: initial;
	margin: 0
}

.modal-dialog .modal-content {
	height: 100vh
}

.modal-dialog .modal-content iframe {
	width: 100%;
	height: 100%;
	border: 0
}

.ui-highlight {
	background: #fffce0;
	list-style-type: none;
}

.ui-highlight .content {
	opacity: .5;
}

.card .card-body {
	padding: .25rem .5rem .5rem .5rem;
	background: #f9f9f9;
	border-radius: 3px
}

.list-group {
	min-height: 4rem;
	background: none;
	position: relative;
}
.list-group:before{
	content: 'Chưa có nhiệm vụ nào!';
	display: flex;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #afafaf;
}
.list-group.active:before{
	content: none
}
.list-group.on-load:before{
	content: 'Đang tải...';
	z-index: 999;
	background: rgba(255,255,255,.9)
}

.sortable .pdf {
	position: absolute;
	top: 0;
	right: 1.5rem;

}

.list-group .list-group-item .move {
	border-left: 4px solid #dfdfdf;
	height: 100%;
	width: .75rem;
	position: absolute;
	top: 0;
	left: 0;
	padding-right: .5rem;
	cursor: move;
}

.list-group .list-group-item.status-2 .move {
	border-left-color: #28a745
}

.list-group .list-group-item.status-3 .move {
	border-left-color: #dc3545
}

.list-group .list-group-item.status-1 .move {
	border-left-color: #007bff
}

.list-group .list-group-item {
	/* border-radius: 0 !important; */
	position: relative;
	padding: .35rem .35rem .35rem 1rem;
	cursor: move;
	border-radius: 3px;
	overflow: hidden;
}
.list-group .list-group-item {
	margin-top: .25rem;
}
.list-group .list-group-item.disabled{
	opacity: .5;
}
.list-group .list-group-item:last-child{
	margin-bottom: 0;
}

.content h3 {
	color: #007bff;
	font-size: 1rem;
	padding-right: 6.5rem;
	text-transform: uppercase;
}
.content h3 small {
	text-transform: capitalize;
	font-size: .9rem;
}

.content h3 .small {
	color: #d3d3d3;
	text-transform: uppercase;
	display: inline-block;
	margin-left: .25rem;
}
.content .text-date {
	color: #d3d3d3;
}
.content .create a {
	color: #333;
}

.content p {
	font-size: .9rem;
	line-height: 1rem;
	color: #afafaf
}

.content hr {
	margin: .25rem 0 !important
}

.content .badge {
	font-size: .7rem;
	padding: .25rem .35rem;
	line-height: .7rem;
}

.btn-move{
	    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #eaeaea;
    border-radius: 0;
}

[data-step="step-3"] .btn-tg {
	right: .5rem;
}
[data-step="step-3"] .pdf {
	right: 0;
}
[data-step="step-3"] .btn-move {
	display: none;
}
.list-group .list-group-item .content {
	padding-right: 1.75rem;
}
[data-step="step-3"].list-group .list-group-item .content {
	padding-right: 0;
}

.list-group-item.disabled .btn-move {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

/* /////// Login  */
.canhcam-form-4 {
	padding-top: 2rem;
	padding-right: 0;
	padding-bottom: 2rem;
	padding-left: 0;
	background: #f2f2f2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	min-height: 100vh;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 992px) {
	.canhcam-form-4 {
		padding-top: 4rem;
		padding-right: 0;
		padding-bottom: 4rem;
		padding-left: 0;
	}
}

.canhcam-form-4 h2 {
	font-weight: 200;
}

.canhcam-form-4 figure {
	text-align: center;
	margin-bottom: 3rem;
}

.canhcam-form-4 figure img {
	max-width: 250px;
}

.canhcam-form-4 .forgot {
	font-size: 1rem;
}

.canhcam-form-4 .createaccount {
	text-align: center;
	color: #666666;
	font-size: 0.95rem;
}

.canhcam-form-4 .createaccount .getstart {
	font-weight: 500;
}

.canhcam-form-4 form .boxlogin {
	background: #ffffff;
	max-width: 500px;
	padding: 1.5rem;
	border-radius: 0.35rem;
	-webkit-box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.125);
	-ms-box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.125);
	-o-box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.125);
	box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.125);
}

@media (min-width: 768px) {
	.canhcam-form-4 form .boxlogin {
		padding-top: 3rem;
		padding-right: 2.5rem;
		padding-bottom: 1rem;
		padding-left: 2.5rem;
	}
}

@media (min-width: 992px) {
	.canhcam-form-4 form .boxlogin {
		padding-top: 4.5rem;
		padding-right: 4.5rem;
		padding-bottom: 3rem;
		padding-left: 4.5rem;
	}
}

.canhcam-form-4 form .boxlogin input {
	background: #f2f2f2;
	padding: 0.75rem;
	border-color: #ebebeb;
}

.canhcam-form-4 form .boxlogin .btn-outline-default {
	background: #ebebeb;
	padding-top: 0.75rem;
	padding-right: 2.5rem;
	padding-bottom: 0.75rem;
	padding-left: 2.5rem;
}

.canhcam-form-4 form .boxlogin .btn-outline-default:hover,
.canhcam-form-4 form .boxlogin .btn-outline-default:active,
.canhcam-form-4 form .boxlogin .btn-outline-default:focus {
	background: #224ca1;

	color: #ffffff;
}

.canhcam-form-4 form .boxlogin label {
	color: #666666;
	font-size: 0.95rem;
}

.canhcam-form-4 form .boxlogin .help-block {
	height: 1rem;
}

.canhcam-form-4 form .boxlogin .help-block ul {
	margin-bottom: 0;
	font-size: 0.9rem;
	color: #e74c3c;
}

.canhcam-form-4 form .boxlogin .has-danger input,
.canhcam-form-4 form .boxlogin .has-danger textarea,
.canhcam-form-4 form .boxlogin .has-danger select {
	border-color: #e74c3c;
	background: #ffffff;
}

.canhcam-form-4 form .boxlogin .has-danger .form-check label {
	color: #e74c3c;
}

.canhcam-form-4 form .boxlogin .has-danger .form-check label:before {
	border-color: #e74c3c;
}

.dropdown .dropdown-menu {
  position: relative;
  margin-top: 1rem;
  border-radius: 0
}
.dropdown .dropdown-menu:before, .dropdown .dropdown-menu:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  margin-left: -10px;
}
.dropdown .dropdown-menu:before {
  border-bottom-color: #dfdfdf;
  position: absolute;
  top: -20px;
  left: 1.2rem;
}
.dropdown .dropdown-menu:after {
  border-bottom-color: #fff;
  position: absolute;
  top: -19px;
  left: 1.2rem;
}
.dropdown .dropdown-menu.dropdown-menu-right:before {
  border-bottom-color: #dfdfdf;
  position: absolute;
  top: -20px;
  right: 1.2rem;
  left: initial;
}
.dropdown .dropdown-menu.dropdown-menu-right:after {
  border-bottom-color: #fff;
  position: absolute;
  top: -19px;
  right: 1.2rem;
  left: initial;
}

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > textarea,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.form-label-group textarea::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea::-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea::-moz-placeholder {
  color: transparent;
}

.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group textarea:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.taskdetails .nav-tabs .nav-item + .nav-item {
	margin-left: .25rem;
}
.taskdetails .nav-tabs .nav-link {
	background: rgba(255,255,255,.5);
	border: 0;
	color: #fff;
}
.taskdetails .nav-tabs .nav-link.active {
	background: white;
	color: #444;
}

div.checkbox.switcher label, div.radio.switcher label {
	padding: 0;
	margin: .35rem 0;
  }
  div.checkbox.switcher label *, div.radio.switcher label * {
	vertical-align: middle;
  }
  div.checkbox.switcher label input, div.radio.switcher label input {
	display: none;
  }
  div.checkbox.switcher label input + span, div.radio.switcher label input + span {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 56px;
	height: 28px;
	background: #f2f2f2;
	border: 1px solid #eee;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
  }
  div.checkbox.switcher label input + span small, div.radio.switcher label input + span small {
	position: absolute;
	display: block;
	width: 50%;
	height: 100%;
	background: #fff;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	left: 0;
  }
  div.checkbox.switcher label input:checked + span, div.radio.switcher label input:checked + span {
	background: #269bff;
	border-color: #269bff;
  }
  div.checkbox.switcher label input:checked + span small, div.radio.switcher label input:checked + span small {
	left: 50%;
  }
.input-group .select2.select2-container--default .select2-selection--single {
	border-radius: 0 3px 3px 0
}
.select2.select2-container--default .select2-selection--single{
	border: 1px solid #ced4db;
	height: initial;
	border-radius: 0
}
.select2.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 1.5rem;
	    padding: .375rem 1.5rem .375rem .75rem;
}
.select2.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
	    top: 0;
}
.ui-datepicker.ui-widget{
	    font-size: 12px;
}
.text-bold {
	font-weight: bold;
}
