hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

dd {
  margin-bottom: 0;
}

.hasmenu main {
  margin-left: 60px;
  padding: 70px 0 2rem 0;
  border-left: 1px solid #f9f9f9;
}

.list-group-item .content .pot {
  padding-left: 3rem;
}

.list-group-item .content .pot h3 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.list-group-item .content .pot:before {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
  position: absolute;
  top: .7rem;
  left: 1rem;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  content: 'L';
  color: #a7a7a7;
  border-radius: 50%;
  background: #eaeaea;
  align-items: center;
  justify-content: center;
}

.list-group-item .content .pot.pot-1:before {
  content: 'N';
  color: #047afb;
  background: #c7e6ff;
}

.list-group-item .content .pot.pot-3:before {
  content: 'H';
  color: #dd3c45;
  background: #ffd3c6;
}

.list-group-item .content .pot.pot-2:before {
  content: 'M';
  color: #55a746;
  background: #e0ffbd;
}

.list-group-item.status-0 a,
.list-group-item.status-0 .btn-link,
.list-group-item.status-0 h3 {
  color: #444;
}

.list-group-item.status-1 a,
.list-group-item.status-1 .btn-link,
.list-group-item.status-1 h3 {
  color: #047afb;
}

.list-group-item.status-3 a,
.list-group-item.status-3 .btn-link,
.list-group-item.status-3 h3 {
  color: #dd3c45;
}

.list-group-item.status-2 a,
.list-group-item.status-2 .btn-link,
.list-group-item.status-2 h3 {
  color: #55a746;
}

/* Context Menu */
.context-menu-list .labels > span > ul {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.context-menu-list .labels > span > ul > li {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  text-indent: -2000px;
  border: 1px solid #ccc;
}

.context-menu-list .labels > span > ul > li.selected,
.context-menu-list .labels > span > ul > li:hover {
  border: 1px solid #fff;
}

.context-menu-list .labels > span > ul > li + li {
  margin-left: 5px;
}

.context-menu-list .labels > span > ul > li.label1 {
  background: #a7a7a7;
}

.context-menu-list .labels > span > ul > li.label2 {
  background: #047afb;
}

.context-menu-list .labels > span > ul > li.label3 {
  background: #55a746;
}

.context-menu-list .labels > span > ul > li.label4 {
  background: #dd3c45;
}

.btn-tg {
  line-height: 1.5rem;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  transform: rotate(180deg);
  border: 1px solid #eaeaea;
  background: #f9f9f9;
}

.btn-tg.collapsed {
  transform: rotate(0deg);
}

.hasfile .btn-tg {
  top: 2rem;
  right: 2rem;
}

.list-group-item-action .pdf {
  display: none;
}

.list-group-item-action.hasfile .pdf {
  display: block;
}

[ripple] {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

[ripple] .ripple {
  position: absolute;
  width: 12px;
  height: 12px;
  animation: ripple 1.6s;
  border-radius: 100%;
  background: #fff;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: .2;
  }

  100% {
    transform: scale(40);
    opacity: 0;
  }
}

.btn-circle {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0;
  color: white;
  border-radius: 50%;
  background: none;
  align-items: center;
  justify-content: center;
}

.btn-circle:hover {
  background: rgba(255,255,255,.3);
}

body,
html {
  height: 100%;
}

.footer {
  line-height: 60px;
 /* Vertically center the text there */
  z-index: 999;
  height: 60px;
  background-color: #f5f5f5;
}

main {
  position: relative;
}

.toolbarleft {
  position: fixed;
  z-index: 10;
  top: 57px;
  left: 0;
  width: 60px;
  height: calc(100% - 57px);
}

.toolbarleft ul {
  display: flex;
  flex-direction: column;
}

.toolbarleft .nav-item.cr .nav-link {
  display: flex;
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 1rem;
  padding: .25rem;
  color: #848484;
  border-radius: 50%;
  background: #f2f2f2;
  justify-content: center;
  align-items: center;
}

.toolbarleft .nav-item.cr .nav-link:hover{
	background: #848484;
	color: #fff;
}

header {
  z-index: 100;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header.topbar .nav-item .nav-link {
  color: #4d4d4d;
}

header.topbar .nav-item.cr .nav-link {
  display: flex;
  width: 2.2rem;
  height: 2.2rem;
  margin-left: .5rem;
  padding: .25rem;
  color: #848484;
  border-radius: 50%;
  background: #f2f2f2;
  justify-content: center;
  align-items: center;
}

header.topbar .nav-item.active .nav-link,
header.topbar .nav-item:hover .nav-link {
  color: #224ca1;
}

header.topbar .nav-item .nav-link img {
  max-width: 2rem;
  border-radius: 50%;
}

.topbar {
  padding: .25rem 0;
  border-bottom: 1px solid #dfdfdf;
}

.topbar .logo img {
  max-height: 35px;
}
.topbar .logo a {
  color: #333;
  text-decoration: none;
}
.topbar .logo span {
	padding-left: .5rem;
	font-weight: bold;
}

.box {
  box-shadow: 0 0 3px #dfdfdf;
}

#pdfModal .modal-body {
  padding: 0;
}

#pdfModal .modal-header .close {
  color: #fff;
}

#pdfModal .modal-header,
#pdfModal .modal-footer {
  color: #fff;
  border-color: #191818;
  border-radius: 0;
  background: #191818;
}

.modal-dialog {
  width: 100%;
  max-width: initial;
  margin: 0;
}

.modal-dialog .modal-content {
  height: 100vh;
}

.modal-dialog .modal-content iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.ui-highlight {
  list-style-type: none;
  background: #fffce0;
}

.ui-highlight .content {
  opacity: .5;
}

.card .card-body {
  padding: .25rem .5rem .5rem .5rem;
  border-radius: 3px;
  background: #f9f9f9;
}

.list-group {
  position: relative;
  min-height: 4rem;
  background: none;
}

.list-group:before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  content: 'Chưa có nhiệm vụ nào!';
  color: #afafaf;
  justify-content: center;
  align-items: center;
}

.list-group.active:before {
  content: none;
}

.list-group.on-load:before {
  z-index: 999;
  content: 'Đang tải...';
  background: rgba(255,255,255,.9);
}

.sortable .pdf {
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.list-group .list-group-item .move {
  position: absolute;
  top: 0;
  left: 0;
  width: .75rem;
  height: 100%;
  padding-right: .5rem;
  cursor: move;
  border-left: 4px solid #dfdfdf;
}

.list-group .list-group-item.status-2 .move {
  border-left-color: #28a745;
}

.list-group .list-group-item.status-3 .move {
  border-left-color: #dc3545;
}

.list-group .list-group-item.status-1 .move {
  border-left-color: #007bff;
}

.list-group .list-group-item {
    /* border-radius: 0 !important; */
  position: relative;
  overflow: hidden;
  padding: .35rem .35rem .35rem 1rem;
  cursor: move;
  border-radius: 3px;
}

.list-group .list-group-item {
  margin-top: .25rem;
}

.list-group .list-group-item.disabled {
  opacity: .5;
}

.list-group .list-group-item:last-child {
  margin-bottom: 0;
}

.content h3 {
  font-size: 1rem;
  padding-right: 6.5rem;
  text-transform: uppercase;
  color: #007bff;
}

.content h3 small {
  font-size: .9rem;
  text-transform: capitalize;
}

.content h3 .small {
  display: inline-block;
  margin-left: .25rem;
  text-transform: uppercase;
  color: #d3d3d3;
}

.content .text-date {
  color: #d3d3d3;
}

.content .create a {
  color: #333;
}

.content p,
.content .gm {
  font-size: .9rem;
  line-height: 1rem;
  color: #afafaf;
}

.content hr {
  margin: .25rem 0 !important;
}

.content .badge {
  font-size: .7rem;
  line-height: .7rem;
  padding: .25rem .35rem;
}

.btn-move {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0;
  background: #eaeaea;
}

[data-step='step-3'] .btn-tg {
  right: .5rem;
}

[data-step='step-3'] .pdf {
  right: 0;
}

[data-step='step-3'] .btn-move {
  display: none;
}

.list-group .list-group-item .content {
  padding-right: 1.75rem;
}

[data-step='step-3'].list-group .list-group-item .content {
  padding-right: 0;
}

.list-group-item.disabled .btn-move {
  cursor: default;
  text-decoration: none;
  pointer-events: none;
  color: black;
}

/* /////// Login  */
.canhcam-form-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  background: #f2f2f2;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

@media (min-width: 992px) {
  .canhcam-form-4 {
    padding-top: 4rem;
    padding-right: 0;
    padding-bottom: 4rem;
    padding-left: 0;
  }
}

.canhcam-form-4 h2 {
  font-weight: 200;
}

.canhcam-form-4 figure {
  margin-bottom: 3rem;
  text-align: center;
}

.canhcam-form-4 figure img {
  max-width: 250px;
}

.canhcam-form-4 .forgot {
  font-size: 1rem;
}

.canhcam-form-4 .createaccount {
  font-size: .95rem;
  text-align: center;
  color: #666;
}

.canhcam-form-4 .createaccount .getstart {
  font-weight: 500;
}

.canhcam-form-4 form .boxlogin {
  max-width: 500px;
  padding: 1.5rem;
  border-radius: .35rem;
  background: #fff;
  -webkit-box-shadow: 0 0 .3rem 0 rgba(0, 0, 0, .125);
  box-shadow: 0 0 .3rem 0 rgba(0, 0, 0, .125);
  -ms-box-shadow: 0 0 .3rem 0 rgba(0, 0, 0, .125);
  -o-box-shadow: 0 0 .3rem 0 rgba(0, 0, 0, .125);
}

@media (min-width: 768px) {
  .canhcam-form-4 form .boxlogin {
    padding-top: 3rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 992px) {
  .canhcam-form-4 form .boxlogin {
    padding-top: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 3rem;
    padding-left: 4.5rem;
  }
}

.canhcam-form-4 form .boxlogin input {
  padding: .75rem;
  border-color: #ebebeb;
  background: #f2f2f2;
}

.canhcam-form-4 form .boxlogin .btn-outline-default {
  padding-top: .75rem;
  padding-right: 2.5rem;
  padding-bottom: .75rem;
  padding-left: 2.5rem;
  background: #ebebeb;
}

.canhcam-form-4 form .boxlogin .btn-outline-default:hover,
.canhcam-form-4 form .boxlogin .btn-outline-default:active,
.canhcam-form-4 form .boxlogin .btn-outline-default:focus {
  color: #fff;
  background: #224ca1;
}

.canhcam-form-4 form .boxlogin label {
  font-size: .95rem;
  color: #666;
}

.canhcam-form-4 form .boxlogin .help-block {
  height: 1rem;
}

.canhcam-form-4 form .boxlogin .help-block ul {
  font-size: .9rem;
  margin-bottom: 0;
  color: #e74c3c;
}

.canhcam-form-4 form .boxlogin .has-danger input,
.canhcam-form-4 form .boxlogin .has-danger textarea,
.canhcam-form-4 form .boxlogin .has-danger select {
  border-color: #e74c3c;
  background: #fff;
}

.canhcam-form-4 form .boxlogin .has-danger .form-check label {
  color: #e74c3c;
}

.canhcam-form-4 form .boxlogin .has-danger .form-check label:before {
  border-color: #e74c3c;
}

.dropdown .dropdown-menu {
  position: relative;
  margin-top: 1rem;
  border-radius: 0;
}

.dropdown .dropdown-menu:before,
.dropdown .dropdown-menu:after {
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
  content: '';
  border: solid transparent;
  border-width: 10px;
}

.dropdown .dropdown-menu:before {
  position: absolute;
  top: -20px;
  left: 1.2rem;
  border-bottom-color: #dfdfdf;
}

.dropdown .dropdown-menu:after {
  position: absolute;
  top: -19px;
  left: 1.2rem;
  border-bottom-color: #fff;
}

.dropdown .dropdown-menu.dropdown-menu-right:before {
  position: absolute;
  top: -20px;
  right: 1.2rem;
  left: initial;
  border-bottom-color: #dfdfdf;
}

.dropdown .dropdown-menu.dropdown-menu-right:after {
  position: absolute;
  top: -19px;
  right: 1.2rem;
  left: initial;
  border-bottom-color: #fff;
}

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > textarea,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  line-height: 1.5;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
 /* Override default `<label>` margin */
  transition: all .1s ease-in-out;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  font-size: 12px;
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  color: #777;
}

.form-label-group textarea::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea::-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea::-moz-placeholder {
  color: transparent;
}

.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group textarea:not(:placeholder-shown) ~ label {
  font-size: 12px;
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  color: #777;
}

.taskdetails .nav-tabs .nav-item + .nav-item {
  margin-left: .25rem;
}

.taskdetails .nav-tabs .nav-link {
  color: #fff;
  border: 0;
  background: rgba(255,255,255,.5);
}

.taskdetails .nav-tabs .nav-link.active {
  color: #444;
  background: white;
}

div.checkbox.switcher label,
div.radio.switcher label {
  margin: .35rem 0;
  padding: 0;
}

div.checkbox.switcher label *,
div.radio.switcher label * {
  vertical-align: middle;
}

div.checkbox.switcher label input,
div.radio.switcher label input {
  display: none;
}

div.checkbox.switcher label input + span,
div.radio.switcher label input + span {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
  margin-right: 10px;
  transition: all .3s ease-in-out;
  border: 1px solid #eee;
  border-radius: 50px;
  background: #f2f2f2;
}

div.checkbox.switcher label input + span small,
div.radio.switcher label input + span small {
  position: absolute;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  transition: all .3s ease-in-out;
  border-radius: 50%;
  background: #fff;
}

div.checkbox.switcher label input:checked + span,
div.radio.switcher label input:checked + span {
  border-color: #269bff;
  background: #269bff;
}

div.checkbox.switcher label input:checked + span small,
div.radio.switcher label input:checked + span small {
  left: 50%;
}

.input-group .select2.select2-container--default .select2-selection--single {
  border-radius: 0 3px 3px 0;
}

.select2.select2-container--default .select2-selection--single {
  height: initial;
  border: 1px solid #ced4db;
  border-radius: 0;
}

.select2.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5rem;
  padding: .375rem 1.5rem .375rem .75rem;
}

.select2.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0;
  height: 100%;
}

.ui-datepicker.ui-widget {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.no-gutters-main {
    margin-right: -.45rem;
    margin-left: -.45rem;
}
.no-gutters-main>.col, .no-gutters-main>[class*=col-] {
    padding-right: .45rem;
    padding-left: .45rem;
}

.tt-menu .tt-dataset {
  max-height: 165px;
  overflow-y: auto;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion small{
	color: #afafaf
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion:hover small{
  color: #fff;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}
.context-menu-list.step-1 .archive-item,
.context-menu-list.step-2 .archive-item {
	display: none !important;
}
.context-menu-list.step-3 .position-item {
	display: none !important;
}
.context-menu-list.step-3 .context-menu-separator {
	display: none !important;
}
.waitforpermission, .waitforpermission-sec {
	display: none;
}
