section.waitforpermission.waitforpermission-sec
	article.container.mt-3
		.row
			.col-lg-8.offset-lg-2
				form#adduserfrm.box.card.validator.border-primary(role="validator", autocomplete="off")
					.card-header.bg-primary.text-white(ripple)
						h2.h5.mb-0 Thông tin
					.card-body.p-3
						.row
							.col-lg
								.form-label-group.mb-4
									input#username.form-control(type='text', placeholder="Tài khoản", autocomplete="false")
									label(for="username") Tài khoản
							.col-lg
								.form-label-group.mb-4
									input#password.form-control(type='password', placeholder="Mật khẩu", autocomplete="new-password")
									label(for="password") Mật khẩu
						.row
							.col-lg
								.form-label-group.mb-4
									input#email.form-control(type='text', placeholder="Email", autocomplete="false")
									label(for="email") Email
							.col-lg
								.form-label-group.mb-4
									input#fullname.form-control(type='text', placeholder="Họ và tên", required, autocomplete="false")
									label(for="fullname") Họ và tên
						.row
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="dashboard")
										input(type="checkbox" id="dashboard")
										span
											small
										span Cho tùy chỉnh dashboard
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="createtask")
										input(type="checkbox" id="createtask")
										span
											small
										span Cho tạo tác vụ
						.row
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="settings")
										input(type="checkbox" id="settings")
										span
											small
										span Cho tùy chỉnh hệ thống

							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="modifytask")
										input(type="checkbox" id="modifytask")
										span
											small
										span Cho chỉnh sửa tác vụ
						.row
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="adduser")
										input(type="checkbox" id="adduser")
										span
											small
										span Cho thêm/sửa thành viên
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="deltassk")
										input(type="checkbox" id="deltassk")
										span
											small
										span Cho xóa tác vụ

						.row
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="userlist")
										input(type="checkbox" id="userlist")
										span
											small
										span Cho xem danh sách thành viên
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="archivetask")
										input(type="checkbox" id="archivetask")
										span
											small
										span Cho lưu trữ tác vụ
						.row
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="viewuser")
										input(type="checkbox" id="viewuser")
										span
											small
										span Cho xem chi tiết thành viên
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="viewtask")
										input(type="checkbox" id="viewtask")
										span
											small
										span Cho xem chi tiết tác vụ

						.row
							.col-lg
							.col-lg
								.checkbox.switcher.mb-4
									label.mb-0.mt-1(for="movetask")
										input(type="checkbox" id="movetask")
										span
											small
										span Cho di chuyển tác vụ



						.row
							.col.text-right
								button.add-button.btn.btn-primary(type='submit', name='btnAddNew', ripple)
									| Lưu lại
									i.fa.fa-save.ml-2

