section.taskdetails.waitforpermission
	article.container.mt-3.content
		h3.d-none PDF file
		.row
			.col-lg-8.offset-lg-2
				h2.display-4#data-objecttype.mb-3
				.card
					.card-header
						ul.nav.nav-tabs.card-header-tabs(id="myTab" role="tablist")
							li.nav-item
								a.nav-link.active(id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true")
									i.fa.fa-list-alt.mr-2
									span#data-name
							li.nav-item
								a.nav-link(id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false")
									i.fa.fa-info-circle.mr-2
									span Thông tin


					.card-body.bg-white.p-4
						.row
							.col
								#myTabContent.tab-content
									#home.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="home-tab")

										dl.row.mb-0
											dt.col-sm-3#key-jobstates-state-1 Trạng thái
											dd.col-sm-9
												#jobstates-state
										hr
										dl.row.mb-0
											dt.col-sm-3#key-project-1 Dự án
											dd.col-sm-9#data-project.text-muted
										hr
										dl.row.mb-0
											dt.col-sm-3#key-metadescription-1 Nội dung
											dd.col-sm-9#data-metadescription.text-muted
										hr
										dl.row.mb-0
											dt.col-sm-3#key-material-1 Chất liệu
											dd.col-sm-9#data-material.text-muted
										hr
										dl.row.mb-0
											dt.col-sm-3#key-est-1 Dự kiến
											dd.col-sm-9#data-est.text-muted
										hr.viewpdf.d-none
										dl.row.mb-0.viewpdf.d-none
											dt.col-sm-3 Tập tin
											dd.col-sm-9
												button.btn.btn-warning.pdf#pdffiles(data-toggle="modal" data-target="#pdfModal" data-backdrop="static" data-keyboard="false" type="button" data-files="")
													i.fa.fa-file-pdf.mr-2
													| Mở tập tin PDF
									#profile.tab-pane.fade(role="tabpanel" aria-labelledby="profile-tab")
										dl.row.mb-0
											dt.col-sm-3#key-objectid-1 ID
											dd.col-sm-9#data-objectid
										hr
										dl.row.mb-0
											dt.col-sm-3#key-createddate-1 Ngày tạo
											dd.col-sm-9#data-createddate.text-muted
										hr
										dl.row.mb-0
											dt.col-sm-3#key-createuser-1 Tạo bởi
											dd.col-sm-9#data-createuser.text-muted
										hr
										dl.row.mb-0
											dt.col-sm-3#key-workuser-1 Tạo cho
											dd.col-sm-9#data-workuser.text-muted
										hr
										dl.row.mb-0
											dt.col-sm-3#key-activatedts-1 Ngày Active
											dd.col-sm-9#data-activatedts.text-muted
										hr.d-none.archive
										dl.row.mb-0.d-none.archive
											dt.col-sm-3 Lưu lại
											dd.col-sm-9
												button.btn.btn-warning.btn-sm(onclick="__archiveTask()") Lưu trữ
										hr.d-none.del
										dl.row.mb-0.d-none.del
											dt.col-sm-3 Xóa Task
											dd.col-sm-9
												button.btn.btn-danger.btn-sm#pdffiles(onclick="__delTask()") Xóa


		.row.mt-4.archivenote.d-none
			.col-lg-8.offset-lg-2
				.alert.alert-warning Nhiệm vụ này hiện không còn khả thi do đã được lưu trữ trước đó
