#k-board-task
	.container-fluid
		.row.mt-3.mb-3
			//- .col-md-4
				.box.card.border-secondary
					.card-header.text-white.bg-secondary
						h2.h5.mb-0 DEMO
					.card-body
						ul.sortable.connectedSortable.list-group(data-step="step-0")
							li#02345678.list-group-item.list-group-item-action.status-2
								.move
								.content
									h3
										| sl13 Lorem ipsum dolor sit amet consectetur
									p.mb-2
										| adipisicing elit. Laborum perferendis velit culpa rem fugit ea sit iusto quaerat officiis incidunt doloribus unde veniam quidem recusandae, deserunt, vitae hic ratione? Hic!
										button.pdf.btn.btn-link.btn-sm(type="button" data-toggle="modal" data-target="#pdfModal" data-backdrop="static" data-keyboard="false" data-files="d56dba3a56c69af5d255ca56efb23ecd.pdf")
											| View PDF
											i.fa.fa-file-pdf
									hr
									.details.small
										.row
											.col
												i.fa.fa-briefcase.mr-2
												a(href="#", title="title") Dự án 1
											.col-auto
												span Chất liệu
											.col-auto
												span Màu
									hr
									.create.small
										.row.no-gutters
											.col
												i.fa.fa-user.mr-2
												a(href="#", title="title") Nguyen Pham
											.col-auto
												span.text-date 22/06/2018
										hr
										.row.no-gutters
											.col
												i.fa.fa-cog.mr-2
												a(href="#", title="title") Hong nhan
											.col-auto
												span.text-date 22/06/2018
			.col-md-4
				.box.card.border-secondary
					.card-header.text-white.bg-secondary.d-flex.align-items-center(ripple)
						h2.h5.mb-0.mr-auto Nhiệm vụ
						button.btn.btn-sm.btn-circle(ripple, onclick="reFresh(1)")
							i.fa.fa-sync
					.card-body
						ul.sortable.connectedSortable.list-group(data-step="step-1")
			.col-md-4.mt-3.mt-md-0
				.box.card.border-info
					.card-header.text-white.bg-info.d-flex.align-items-center(ripple)
						h2.h5.mb-0.mr-auto Đang thực hiện
						button.btn.btn-sm.btn-circle(ripple, onclick="reFresh(2)")
							i.fa.fa-sync
					.card-body
						ul.sortable.connectedSortable.list-group(data-step="step-2")
			.col-md-4.mt-3.mt-md-0
				.box.card.border-success
					.card-header.text-white.bg-success.d-flex.align-items-center(ripple)
						h2.h5.mb-0.mr-auto Hoàn thành
						button.btn.btn-sm.btn-circle(ripple, onclick="reFresh(3)")
							i.fa.fa-sync
					.card-body
						ul.sortable.connectedSortable.list-group(data-step="step-3")

