section.canhcam-form-4
	article.container
		//- .row
			.col
				figure
					img(src='./img/logo.png', alt='alt')
		form.validator.d-flex.justify-content-center
			.boxlogin
				.row
					.col-12
						h2.h3.mb-5 Đăng nhập
					.form-group.mb-2.col-12
						label(for='Username')
							| Tài khoản
							span.text-danger (*)
						input#Username.form-control(placeholder='Name', data-error='Vui lòng nhập thông tin', required='')
						.help-block.with-errors.small
					.form-group.mb-2.col-12
						label(for='Password')
							| Mật khẩu
							span.text-danger (*)
						input#Password.form-control(type='password', placeholder='Password', data-error='Vui lòng nhập thông tin', required='')
						.help-block.with-errors.small
					.form-group.mb-0.col-12.mt-md-3
						.row.align-items-center
							//- .col-md-auto.mb-4.mb-md-0
								.form-check.abc-checkbox
									input#checkbox.form-check-input(name='IsChecked', type='checkbox', value='true', required='')
									label.form-check-label(for='checkbox') Remember my password
							.col-md.justify-content-md-end.d-flex
								button.btn.btn-outline-default(type='submit') Đăng nhập
				//- .row
					.col.mb-0.col-12.mt-5.text-md-center.forgot
						p
							a(href='#') Forgot your password
	//- article.container.createaccount
		.row.mt-5
			.col
				p.mb-0 Don't have an account yet?
				a.lead.getstart(href='#') Get started
