section
	article.container.mt-5
		.row.text-center
			.col.mt-4
				figure
					img(src="./img/notfound.png").img-fluid
					figcaption
				h2.display-4 Không có quyền
				p Bạn không có quyền trên trang này!
