section.waitforpermission
	article.container.mt-3#settingspage
		.row
			.col
				h2.display-4 Tuỳ chỉnh hệ thống
		.row.mt-3
			.col-lg
				//- .input-group.mb-4
					.input-group-prepend
						span.input-group-text Tên mặc định của nhiệm vụ
					input#GlobalName.form-control.text-right(value="", type="text")
				.input-group.mb-4
					.input-group-prepend
						span.input-group-text Số hiển thị trên một trang
					input#pageSize.form-control.text-right(value="", type="number")
				.checkbox.switcher.mb-4
					label.mb-0(for="Editor")
						input(type="checkbox" id="Editor")
						span
							small
						span Bật/tắt Editor
			.col-lg
				.input-group.mb-4
					.input-group-prepend
						span.input-group-text Số nhiệm vụ được kéo thả tối đa
					input#ActiveNumberStep1Drag.form-control.text-right(value="", type="number")
				.input-group.mb-4
					.input-group-prepend
						span.input-group-text Số nhiệm vụ đang thực hiện tối đa
					input#ActiveNumberStep2Drop.form-control.text-right(value="", type="number")
				.checkbox.switcher.mb-4
					label.mb-0(for="OneWay")
						input(type="checkbox" id="OneWay")
						span
							small
						span Chỉ cho kéo một chiều
