section.waitforpermission
	article.container.mt-3
		.row.align-items-center
			.col
				h2.display-4 Thành viên
			.col-auto
				a(href="/adduser", title="title").btn.btn-primary Thêm mới
		.row
			.col.userlists
		.row.justify-content-end
			.col Trang
			.col-auto
				#pagination
