section
	if(ck.permision_userlist === 'true')
		article.container.mt-5
			.row.align-items-center
				.col
					h2.display-4 Thành viên
				if(ck.permision_adduser === 'true')
					.col-auto
						a(href="/adduser", title="title").btn.btn-primary Thêm mới
			.row
				.col.userlists
			.row.justify-content-end
				.col Trang
				.col-auto
					#pagination
