extends _layout.pug
block variables
	- var title = 'Thêm mới nhiệm vụ'
	- var hasmenu = 'hasmenu'
block header
	include _header.pug
block content
	if process.env.ENVGLOBAL === 'true'
		script
			if(ck.permision_modifytask === 'true')
				include __addtask.js
			include ./assets/addtask.min.js
	else
		if(ck.permision_modifytask === 'true')
			include __addtask
		script(key=val, src='./js/addtask.js?v='+text)
block footer
	if process.env.ENVGLOBAL === 'true'
		script
			include _footer.js
	else
		include _footer.pug
