extends _layout.pug
block variables
	- var title = 'Thêm thành viên'
	- var hasmenu = 'hasmenu'
block header
	if process.env.ENVGLOBAL === 'true'
		script
			include _header.js
	else
		include _header.pug
block content
	if process.env.ENVGLOBAL === 'true'
		script
			include __adduser.js
			include ./assets/adduser.min.js
	else
		include __adduser
		script(key=val, src='./js/adduser.js?v='+text)
block footer
	if process.env.ENVGLOBAL === 'true'
		script
			include _footer.js
	else
		include _footer.pug
