extends _layout.pug
block variables
	- var title = 'Nhiệm vụ'
	- var hasmenu = 'hasmenu'
block header
	if process.env.ENVGLOBAL === 'true'
		script
			include _header.js
	else
		include _header.pug
block content
	if process.env.ENVGLOBAL === 'true'
		script
			include __gettask.js
			include ./assets/gettask.min.js
	else
		include __gettask
		script(key=val, src='./js/gettask.js?v='+text)
block footer
	if process.env.ENVGLOBAL === 'true'
		script
			include _footer.js
	else
		include _footer.pug
