extends _layout.pug
block variables
	- var title = 'Thành viên'
	- var hasmenu = 'hasmenu'
block header
	if process.env.ENVGLOBAL === 'true'
		script
			include _header.js
	else
		include _header.pug
block content
	if process.env.ENVGLOBAL === 'true'
		script
			include __getuser.js
			include ./assets/getuser.min.js
	else
		include __getuser
		script(key=val, src='./js/getuser.js?v='+text)
block footer
	if process.env.ENVGLOBAL === 'true'
		script
			include _footer.js
	else
		include _footer.pug
