extends _layout.pug
block variables
	- var title = 'Thành viên'
	- var hasmenu = 'hasmenu'
block header
	include _header.pug
block content
	if process.env.ENVGLOBAL === 'true'
		script
			if(ck.permision_userlist === 'true')
				include __getuser.js
			else
				include _nopermission.js
			include ./assets/getuser.min.js
	else
		if(ck.permision_userlist === 'true')
			include __getuser
		else
			include _nopermission
		script(key=val, src='./js/getuser.js?v='+text)
block footer
	if process.env.ENVGLOBAL === 'true'
		script
			include _footer.js
	else
		include _footer.pug
