extends _layout.pug
block variables
	- var title = 'Thành viên'
	- var hasmenu = 'hasmenu'
block header
	include _header.pug
block content
	if process.env.ENVGLOBAL === 'true'
		script
			if(ck.permision_userlist === 'true')
				include __users.js
			include ./assets/users.min.js
	else
		if(ck.permision_userlist === 'true')
			include __users
		script(key=val, src='./js/users.js?v='+text)
block script
	script(key=val, src='./vendor/pagination.min.js?v='+text)
block footer
	if process.env.ENVGLOBAL === 'true'
		script
			include _footer.js
	else
		include _footer.pug
